{% extends 'home.html.twig' %}

{% block body %}
  <div class="calendar-grid">
    <div class="title">
      <h1><span class="title-1">Ušetřeno IT</span><span class="title-2">Adventní</span><span class="title-3">Kalendář</span></h1>
    </div>
    {% for key, value in gifts %}
      <div class="day day-{{ key }}">
        <label>
          {% if value.enabled == true %}<input type="checkbox"/> {% endif %}
          <div class="door">
            <div class="front">{{ key }}</div>
            <div class="back"></div>
          </div>
          <div class="inside">
            {% if value.enabled == true %}<img src="{{ asset(value.giftImage) | imagine_filter('squared_thumbnail_small') }}" width="137" height="137"> {% endif %}
          </div>
          <div class="title-container"><a href="#" target="_blank" title="Link to source code">{% if value.enabled == true %}{{ value.person }}<br>{{ value.giftName }}{% endif %}</a>
          </div>
        </label>
      </div>
    {% endfor %}
  </div>

    <div class="d-flex justify-content-center">
      <div> <a href="{{ path('gift-register') }}" class="btn btn-primary">Registrace</a></div>
    </div>

{% endblock %}