{% extends 'home.html.twig' %}

{% block title %}
    <title>Ušetřeno adventní kalendář - registrace</title>
{% endblock %}

{% block body %}
    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrace dárku</p>
                                    {{ form_start(form, {'attr': {'class': 'mx-1 mx-md-4'}}) }}
                                    {{ form_errors(form) }}
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ form_widget(form.firstName) }}
                                                {{ form_label(form.firstName) }}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ form_widget(form.lastName) }}
                                                {{ form_label(form.lastName) }}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ form_widget(form.giftName) }}
                                                {{ form_label(form.giftName) }}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ form_widget(form.file) }}
                                                {{ form_label(form.file) }}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ form_widget(form.phrase) }}
                                                {{ form_label(form.phrase) }}
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mx-4 mb-3 mb-lg-4">
                                            {{ form_row(form.save) }}
                                            <div> <a href="{{ path('home') }}" class="btn btn-primary">Zpět</a></div>
                                        </div>
                                    {{ form_end(form) }}
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex flex-column align-items-center order-1 order-lg-2">
                                    <img src="{{ asset('images/santa-claus-gc2fdb8974_640.png') }}" class="img-fluid" alt="Sample image">
                                    <h5>Jaký dárek vybrat?</h5>
                                    <div>
                                        Něco malého a hezkého v rozmezí od 50 Kč do 500 Kč. <br>Nesmí to být živé, vlhké ani nic co podléhá časové zkáze.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.dropdown-toggle').dropdown();
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}